@charset "utf-8";
/* CSS Document */
@font-face {
  font-family:Montserrat-b;
  src: url(../fonts/Montserrat-Bold.ttf);
}
@font-face {
  font-family:Montserrat-m;
  src: url(../fonts/Montserrat-Medium.otf);
  }
@font-face {
  font-family:Montserrat-r;
  src: url(../fonts/Montserrat-Regular.ttf);
}
@font-face {
  font-family: Roboto-b;
  src: url(../fonts/Roboto-Bold.ttf);
}
@font-face {
  font-family:Roboto-m;
  src: url(../fonts/Roboto-Medium.ttf);
}
@font-face {
  font-family: Roboto-r;
  src: url(../fonts/Roboto-Regular.ttf);
}
.header {
	background-color:#1673B0;
	height:30px;
	
}
.right_header{
	margin-left:35px;
}
.top{
	top: 30px;
    right: 0;
    left: 0;
    z-index: 1030;
}
.nav_bold{
	font-weight: bold;
	font-family:Montserrat-b;
	font-size:16px;
	line-height:10px;
}
.nav_roboto{
  font:16px/19px Roboto;
}
.dropdown-submenu {
	position: relative;
  }
  
.dropdown-submenu .dropdown-menu {
	top: 0;
	left: 100%;
	margin-top: -1px;
  }
.dropdown-toggle1 {
	padding-right:15px;
}
/*Search css*/
.searchBox {
    transform: translate(0%,0%);
    height: 40px;
}
.searchBox:hover {
    border-radius: 40px;
    border: 3px solid #3B3B3B;
}
.searchBox:hover > .searchInput {
    width: 155px;
	padding: 7px 10px;
	
}
.searchBox:hover > .searchButton {
  color : #2f3640;
}
.searchButton {
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
}
.searchInput {
	border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    font-size: 28px;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;
    font: 16px/19px Roboto;
    letter-spacing: 0;
    color: #3B3B3B;
}
.bottom_line{
	box-shadow: 0px 6px 6px #00000029;
	background-color: white;
	height: 65px;
}
.pop_up{
    margin:80px 210px 0px 185px;
}
.form{
	margin-left: 55px;
    margin-top: 20px;
    width: 340px;
    font: 16px/19px Roboto-r;
}
.main_container{
	margin-top: 40px;	
}
.circle-image{
	width: 100%;
	margin-top:20px;
	
}
.image-text{
	margin-top:26px;
	font-weight:bold;
}
/* Outfit box css */
.bx {
	padding-right: 7px;
    padding-left: 7px;
    float: left;
}
/* Outfits Text css */
.top-right {
	position: absolute;
    top: 20px;
    right: 34px;
    color: white;
    font: Bold 32px/40px Montserrat-b;
  }
.bottom-left {
	position: absolute;
	bottom: 293px;
	left: 34px;
	color: white;
    font: Bold 32px/40px Montserrat-b;
  }
.bottom-left1 {
	position: absolute;
	bottom: 20px;
	left: 34px;
	color: white;
    font: Bold 32px/40px Montserrat-b;
  }
.bottom-right {
	position: absolute;
	bottom: 293px;
	right: 34px;
	color: white;
    font: Bold 32px/40px Montserrat-b;
  }
  .bottom-right1 {
	position: absolute;
	bottom: 20px;
	right: 34px;
	color: white;
    font: Bold 32px/40px Montserrat-b;
  }
 .top-left {
	position: absolute;
    top: 20px;
    left: 34px;
    color: white;
    font: Bold 32px/40px Montserrat-b;
  }
  /* for cancel padding col*/
.padding{
	padding: 10px;
}
.zoom {
	overflow: hidden;
	transition: transform .2s; /* Animation */
  }
  
  .zoom:hover {
	transform: scale(1.1); /* (zoom Size) */
  }
 /* client slider*/

 /*  */
 .carousel1 {
	margin: 50px auto;
	padding: 0 178px;
}
.carousel1 .item {
	color: #999;
	overflow: hidden;
  height: 185px;
	font-size: 13px;
}
.carousel .media img {
	width: 150px;
	height: 150px;
	display: block;
	border-radius: 50%;
}
#testimonial {
  padding: 0 0px 0 33px;
	position: relative;
}
/* owl carousel */
.owl-dot {
  display:none;
}
.owl-carousel .owl-stage {
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo-item{
  text-align: center;
  margin-left:-1px;
  padding: 30px;
}

/* icon change css for carousel  */
.carousel-control-prev-icon{
  height: 59px;
  width: 37px;
  background-size: 100%, 100%;
  background-image: url(../icon/Arrow\ White.svg) !important;
  transform: rotate(180deg);
}
.carousel-control-next-icon {
  height: 59px;
  width: 37px;
  background-size: 100%, 100%;
  background-image: url(../icon/Arrow\ White.svg) !important;
}
.carousel-control-prev1-icon{
  height: 59px;
  width: 37px;
  background-size: 100%, 100%;
  background-image: url(../icon/Arrow\ Blue.svg) !important;
  transform: rotate(180deg);
}
.carousel-control-next1-icon {
  height: 59px;
  width: 37px;
  background-size: 100%, 100%;
  background-image: url(../icon/Arrow\ Blue.svg) !important;
}
 /* product form heading */
 .heading {
  width: 324px;
  height: 98px;
 }
 /* fOOTER*/
.footer-color{
	font-family:Roboto-r;
	font-size:16px;
	color:#fff;
}
.Footer{
	height: 264px;
    background: #1673B0 0% 0% no-repeat padding-box;
    opacity: 1;
}
.footer-col {
	margin-top:70px;
}
.footer-img {
	width: 99px;
	height: 92px;
}